{% extends "Staff_base.html"%}
{% load static %}
{% block content %}
    <div class="container-list" style="margin:50px 50px 50px 50px">
      <br>
      <h1 style="text-align:center">Barangay Residency Request</h1>
      <h3 style="text-align:center">Pending Requests</h3>
      <br>
        <table class="table table-bordered text-center">
            <thead>
              <td>Requested By</td>
              <td>Requested At</td>
              <td>Details</td>
            </thead>
            <tbody>
              {%for docs in dataset%}
              <td>{{docs.first_name}},{{docs.last_name}}</td>
              <td>{{docs.requested_at}}</td>
              <td><a href="{%url 'documentRequest:residencyDetail' docs.pk%}" class="btn btn-primary">See Details</a></td>
              {%endfor%}
            </tbody>
          </table>
      </div>
{% endblock %}
