{% extends "Staff_base.html"%}
{% load static %}
{%block content%}
{% block showlist %}
{%block contentlist%}
<link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<div style=" margin: 20px 20px 20px 20px; padding:20px 20px 20px 20px;">
  <h1>List of Processed Documents</h1>
  <a href="{%url 'Records:docRecord'%}" class="btn btn-primary">Back</a>
  <button type="button" class="btn btn-primary" onclick="printJS('print','html')">Print Report</button>
</div>
<div style="margin:50px 50px 50px 50px">
  <table class="table table-bordered"  id="print">
    <thead>
      <td><b>Requested By</b></td>
      <td><b>Full Name</b></td>
      <td><b>Purpose</b></td>
      <td><b>Requested_at</b></td>
    </thead>
    <tbody>
      {%for doc in dataset%}
      <tr>
          <td>{{doc.requested_by}}</td>
          <td>{{doc.first_name}}, {{doc.middle_name}}, {{doc.last_name}}</td>
          <td>{{doc.purpose}}</td>
          <td>{{doc.requested_at}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}
{%endblock%}
{%endblock%}
